@{
    ViewBag.Title = ":)";
}

<div class="jumbotron">
    <h1>Show me what you learned...</h1>
    <p class="lead">Here is a snippet of what I have learned in MVC</p>
    <p><a href="https://i.pinimg.com/originals/ff/e4/88/ffe4881e4c54283fa16cf93092c03d9b.gif" class="btn btn-primary btn-lg">Thank you &raquo;</a></p>
</div>

